body{background-color: black;}
.instagramphoto{background-color: white;width: 600px;height: 450px;margin: auto;}
.instagramhead{ width: 600px; height: 70px;}
.instagrambody{width: 600px;height: 300px;}
.instagrambody img{width: 600px;height: 300px;position: relative;bottom: 25px;}
.pagenumber{float: right;position: relative;bottom: 30px;right: 20px;}
.container{margin: auto;background-color: gray;width: 1000px;height: max-content;}
.instagramhead h2{position: relative;top 25px}